<div class="container-fluid">
    <div class="row  bg-light">
        <div class="col-md-5 d-flex justify-content-between">
            <div class="position-absolute hover" *ngIf="isFromAllCustomers" style="top: 0;left: 0;" (click)="closeDetails()">
                <img src="../../../assets/criss_cross.png">
            </div>
            <div class="ml-4 position-relative" *ngIf="UserDetails && UserDetails.accountVerificationStatus">
                <img src="{{image}}"    class="rounded-circle avathar" [ngStyle]="{'border': UserDetails.accountVerificationStatus == 'Verified' ? '3px solid green' : 'none'}">
                <div class="edit-icon hover" *ngIf="UserDetails.accountVerificationStatus == 'Verified'">
                    <img src="../../../assets/ic_verified.png" width="30">
                </div>
               </div>
           <div class="align-self-center px-4 d-flex flex-column" *ngIf="UserDetails && UserDetails.firstName">
               <p class="mb-0 f-18">{{UserDetails.firstName}}</p>
               <p class="mb-o f-14">
                   <span>{{UserDetails.address}}</span>
               </p>
               <p class="mb-o f-14">
                <button mat-raised-button *ngIf="!isUserBlocked" class="btn-bg rounded-pill small" (click)="blockOrUnBlock()">Block User</button>
                <button mat-raised-button *ngIf="isUserBlocked" class="btn-bg rounded-pill small" (click)="blockOrUnBlock()">UnBlock User</button>
            </p>
           </div>
        </div>
        <div class="col-md-3 align-self-center">
            <div class="text-center">
                <mat-button-toggle-group name="fontStyle"  style="border-radius: 20px;"
                    aria-label="Font Style">
                    <mat-button-toggle value="tasker" (change)="changeView($event)" [ngStyle]="{'background-color':asPoster == false ? '#FA0E0E' : '#FFF', 
                'color':asPoster == false ? '#fff' : '#000' }"  class="px-3 py-1 f-14">As a Tasker
                    </mat-button-toggle>
                    <mat-button-toggle value="poster" (change)="changeView($event)" [ngStyle]="{'background-color':asPoster == true ? '#FA0E0E' : '#FFF', 
                    'color':asPoster == true ? '#fff' : '#000' }"  class="px-3 py-1 f-14">As a Poster
                        </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
        <div class="col-md-4 rating-status align-self-center text-center">
            <span>{{totalReviews}} Reviews</span>
            <span *ngIf="userReviews && userReviews.completedPercentage">{{userReviews.completedPercentage}}% Complete Rate</span>
            <span *ngIf="userReviews && userReviews.completedPercentage">{{userReviews.TaskCompletedCount}} Completed Tasks</span>
            <span>
                <button mat-raised-button class="rounded-pill bg-light" (click)="viewReviews()">View All Reviews</button>
            </span>
        </div>
    </div>
</div>
<div class="container-fluid mt-3 scroll" style="max-height: 70vh; overflow-y: auto;">
    <div class="row">
        <div class="col-md-6">
            <div>
               <table class="table table-borderless" style="line-height: 10px;">
                   <tr>
                       <td class="f-14 mt-1" style="vertical-align: inherit;">Phone Number :</td>
                       
                       <td class="f-14 align-self-center" *ngIf="UserDetails && UserDetails.phoneNumber && !isUpdatePhone">
                            {{UserDetails.phoneNumber}} &nbsp; <button class="btn btn-success btn-sm " (click)="editNumber()">Edit</button> </td>
                            <td class="f-14" *ngIf="UserDetails && UserDetails.phoneNumber && isUpdatePhone">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" [(ngModel)]="UserDetails.phoneNumber" aria-describedby="basic-addon2">
                                    <div class="input-group-append hover" (click)="editPhoneNumber()">
                                      <span class="input-group-text" id="basic-addon2">Edit</span>
                                    </div>
                                  </div>
                                 </td>
                           
                   </tr>
                   <tr>
                    <td>Email :</td>
                    
                    <td *ngIf="UserDetails && UserDetails.phoneNumber"> {{UserDetails.userID}}</td>
                </tr>
                <tr>
                    <td>Emergency Contacts :</td>
                    
                    <td style="line-height: 1rem;">
                        <div *ngIf="UserDetails && UserDetails.emergencyContacts.length">
                            <div class="f-14 mr-2" *ngFor="let number of UserDetails.emergencyContacts">
                                <div class="d-block">{{number.contact.phoneNumber}} </div>
                            </div>
                        </div>
                        <div class="f-14 mr-2" *ngIf="UserDetails && !UserDetails.emergencyContacts.length">
                            No Contacts Provided
                        </div>
                    </td>
                </tr>
               </table>
            </div>
            <!-- <div class="d-flex justify-content-between">
                <div class="ml-2">Emergency Contacts :</div>
                <div *ngIf="UserDetails && UserDetails.emergencyContacts.length">
                    <div class="f-14 mr-2" *ngFor="let number of UserDetails.emergencyContacts">
                        <div class="d-block">{{number.contact.phoneNumber}} </div>
                    </div>
                </div>
                <div class="f-14 mr-2" *ngIf="UserDetails && !UserDetails.emergencyContacts.length">
                    No Contacts Provided
                </div>
            </div> -->
            <div class="bg-light">
                <h5 class=" ml-4 p-2">About</h5>
            </div>
            
            <p class="px-3 f-14" *ngIf="UserDetails && (UserDetails.aboutMe != '')">
                {{UserDetails.aboutMe}}
            </p>
            <div class="bg-light">
                <h5 class=" ml-4 p-2">Bank Details</h5>
            </div>
            <div>
                <table class="table table-borderless" style="line-height: 10px;">
                    <tr>
                        <td>Bank Holder Name :</td>
                        
                        <td *ngIf="bankDetails && (bankDetails.Accountholdername != '')"> {{ bankDetails.Accountholdername}}</td>
                        <td *ngIf="bankDetails == null">Not provided</td>
                    </tr>
                    <tr>
                     <td>Bank Name :</td>
                     
                     <td *ngIf="bankDetails && (bankDetails.BSB != '')"> {{bankDetails.BSB}}</td>
                     <td *ngIf="bankDetails == null">Not provided</td>
                 </tr>
                 <tr>
                    <td>Account Number :</td>
                    
                    <td *ngIf="bankDetails && bankDetails.Accountnumber"> {{bankDetails.Accountnumber}}</td>
                    <td *ngIf="bankDetails == null">Not provided</td>
                </tr>
                </table>
            </div>
            <div class="bg-light" *ngIf="gallery && gallery.length">
                <h5 class=" ml-4 p-2">Gallery</h5>
            </div>
            <div class="d-flex flex-wrap gallery-sec ml-2" *ngIf="gallery && gallery.length">
                <div class="ml-1" *ngFor="let img of gallery">
                    <img src="{{'https://liveapi.startasker.com'+img}}" width="70" height="70" class="rounded hover">
                </div>
            </div>
            <div class="bg-light">
                <h4 class=" text-center p-2">Skills</h4>
            </div>
            <div class="bg-light mt-3" *ngIf="skills && skills.languages && skills.languages.length">
                <h5 class="ml-4 p-2">Languages</h5>
            </div>
            <div class="d-flex flex-wrap p-2" *ngIf="skills && skills.languages">
                <button mat-raised-button *ngFor="let language of skills.languages" class="rounded-pill mx-1 bg-light">{{language}}</button>
            </div>
            <div class="bg-light" *ngIf="skills && skills.trasportations">
                <h5 class="ml-4 p-2">Transportation</h5>
            </div>
            <div class="d-flex flex-wrap p-2" *ngIf="skills && skills.trasportations">
                <button mat-raised-button *ngIf="skills.trasportations.Bicycle"  class="rounded-pill mx-1 bg-light">Bicycle</button>
                <button mat-raised-button *ngIf="skills.trasportations.Car"  class="rounded-pill mx-1 bg-light">Car</button>
                <button mat-raised-button *ngIf="skills.trasportations.Online"  class="rounded-pill mx-1 bg-light">Online</button>
                <button mat-raised-button *ngIf="skills.trasportations.Scooter"  class="rounded-pill mx-1 bg-light">Scooter</button>
                <button mat-raised-button *ngIf="skills.trasportations.Truck"  class="rounded-pill mx-1 bg-light">Truck</button>
                <button mat-raised-button *ngIf="skills.trasportations.Walk"  class="rounded-pill mx-1 bg-light">Walk</button>
            </div>
        </div>
        <div class="col-md-6 border-left border-top" *ngIf="accountData && (accountData.Nationality != '')">
            <div class="d-flex justify-content-between mt-2">
                <div class=" nationality">
                    <label style="margin-left: 0.6rem;margin-bottom: 0 !important;">Nationality</label>
                    <div *ngIf="accountData.Nationality != ''"  class="border hover py-2">{{accountData.Nationality}}</div>
                    <div *ngIf="accountData.Nationality == ''"  class="border hover py-2">Not Added</div>
                </div>
                <div class=" nationality">
                    <label style="margin-left: 0.6rem;margin-bottom: 0 !important;">ID Type</label>
                    <div *ngIf="accountData.Nationality != ''"  class="border hover py-2">{{accountData.IDType}}</div>
                    <div *ngIf="accountData.Nationality == ''"  class="border hover py-2">Not Mentioned</div>
                </div>
            </div>
            <div class="form-start">
                <form>
                    <ng-container *ngIf="UserDetails && UserDetails.firstName && UserDetails.accountVerificationStatus.length">
                          <div>
                              <div class="d-flex identity-img">
                                  <div class="border text-center position-relative" [ngClass]="{'border-success':isIDUploaded}">
                                    <span class="position-absolute" *ngIf="isIDUploaded" style="top: 0;right: 0; margin-top: -10px;margin-right: -5px;">
                                        <img src="../../../assets/check.png" width="20">
                                        </span> 
                                    <div class="mt-3"> ID Photo</div>
                                      <div>
                                        <img class="img-fluid hover" *ngIf="accountData.IDPhoto != ''" style="height: 5rem;" src="{{baseUrl+accountData.IDPhoto}}">
                                        <img class="img-fluid hover" *ngIf="accountData.IDPhoto == ''" style="height: 5rem;" src="../../../assets/Add.png">
                                      </div>
                                  </div>
                                  <div class="border text-center position-relative" [ngClass]="{'border-success':isSelfieUploaded}">
                                    <!-- <span class="position-absolute" *ngIf="isSelfieUploaded" style="top: 0;right: 0; margin-top: -10px;margin-right: -5px;">
                                        <img src="../../../assets/check.png" width="20">
                                        </span> -->
                                    <div class="mt-3"> Selfie</div>
                                    <div>
                                        <img class="img-fluid hover" *ngIf="accountData.profilePhoto != ''" style="height: 5rem;" src="{{baseUrl+accountData.profilePhoto}}">
                                        <img class="img-fluid hover" *ngIf="accountData.profilePhoto == ''" style="height: 5rem;" src="../../../assets/Add.png">
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-row my-3" >
                            <div class="col position-relative">
                                <label>First Name</label>
                                <span class="position-absolute"  style="top: 0;right: 0;margin-top: 0.9rem;margin-right: -5px;">
                                    <img src="../../../assets/check.png" width="20">
                                    </span>
                              <input type="text" class="form-control bg-white border-success" readonly name="fname" [(ngModel)]="UserDetails.firstName" placeholder="First name">
                            </div>
                            <div class="col position-relative">
                                <label>Last Name</label>
                                <span class="position-absolute"  style="top: 0;right: 0;margin-top: 0.9rem;margin-right: -5px;">
                                    <img src="../../../assets/check.png" width="20">
                                    </span>
                              <input type="text" class="form-control bg-white border-success" readonly name="lname" [(ngModel)]="UserDetails.lastName"  placeholder="Last name">
                            </div>
                          </div>
                          <div class="form-group position-relative" >
                            <label>
                                Email
                            </label>
                            <span class="position-absolute"  style="top: 0;right: 0;margin-top: 0.9rem;margin-right: -5px;">
                                <img src="../../../assets/check.png" width="20">
                                </span>
                            <input class="form-control bg-white border-success"  [(ngModel)]="UserDetails.userID" name="email" readonly>
                          </div>
                          <div class="form-group position-relative">
                            <label>
                                Phone Number
                            </label>
                            <span class="position-absolute"  style="top: 0;right: 0;margin-top: 0.9rem;margin-right: -5px;">
                                <img src="../../../assets/check.png" width="20">
                                </span>
                            <input class="form-control bg-white border-success" [(ngModel)]="UserDetails.phoneNumber" name="phone" readonly>
                            <span class="position-absolute"  style="top: 0;right: 0;margin-top: 0.9rem;margin-right: -5px;">
                                <img src="../../../assets/check.png" width="20">
                                </span> 
                          </div>
                          <div class="form-group position-relative">
                            <label>
                                Date of Birth
                            </label>
                            <span class="position-absolute"  style="top: 0;right: 0;margin-top: 0.9rem;margin-right: -5px;">
                                <img src="../../../assets/check.png" width="20">
                                </span>
                            <input class="form-control bg-white border-success" [(ngModel)]="UserDetails.dob" name="dob" readonly>
                          </div>
                    </ng-container>
                    
                </form>
                <div class="d-flex justify-content-around mb-3" *ngIf="!isAccountVerified">
                    <button mat-raised-button class="bg-success text-white"  (click)="verify()">Verify Account</button>
                    <button mat-raised-button class="btn-bg"  (click)="reject()">Reject Verification</button>
                </div>
                <div class="text-center" *ngIf="isAccountVerified">
                    <button mat-raised-button class="bg-success text-white" *ngIf="UserDetails.accountVerificationStatus == 'Verified'">Account Verified</button>
                    <button mat-raised-button class="btn-bg text-white" *ngIf="UserDetails.accountVerificationStatus == 'Rejected'">Account Rejected</button>
                </div>
            </div>
        </div>
        
    </div>
</div>