<div class="container-fluid" *ngIf="!isDetails">
<div class="row p-0 border-bottom">
    <div class="col-md-12 p-0">
        <div class=" d-flex justify-content-between p-3">
            <h5>Customers</h5>
            <form class="example-form w-50" [formGroup]="searchByNameForm" (ngSubmit)="searchByName()">
                <div class="form-group has-search">
                  <i class="fa fa-search fa-2x form-control-feedback"></i>
                  <input type="search" class="form-control search-services" formControlName="userID"   placeholder="Search by first or last name">
                </div>
              </form>
        </div>
    </div>
    <div class="col-md-12 d-flex bg-light justify-content-between">
        <div class="bg-light p-2">
            <span class="f-18 hover p-2" style="font-weight: 600;" (click)="taskFilters()">Add Filters <span> <img src="../../../assets/sort.png"> </span></span>
           
         </div>
         <div class="align-self-center d-flex justify-content-between" >
           <div class="mr-2">
            <button mat-raised-button class="f-14 small" [matMenuTriggerFor]="menu">Page {{pageNo}} of {{totalPageCount}}</button>
            <mat-menu #menu="matMenu" class="mobile-menu" [overlapTrigger]="false" >
                <a mat-menu-item  class="text-decoration-none header-text" [ngClass]="{'disabled': num === pageNo}" *ngFor="let num of pageNumbers;" (click)="gotoSelectedPage(num)">
                    {{num}}
              </a>
              </mat-menu>
           </div>
              <div>
                <mat-button-toggle-group appearance="legacy" class="bg-white text-dark" name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle class="text-dark small" (click)="previousPage()" [ngClass]="{'disabled':pageNo == 1}" value="bold">Prev</mat-button-toggle>
                    <mat-button-toggle class="text-dark small" (click)="loadMore()" [ngClass]="{'disabled':isTotalCountReached}" value="underline">Next</mat-button-toggle>
                  </mat-button-toggle-group>
              </div>
        </div>
        
         <!-- <span style="flex: 1 1 auto;"></span> -->
         <!-- <button mat-raised-button class="btn-bg rounded-pill" (click)="download()">Download</button> -->
         <!-- <span (click)="fetchAllUsers()" class="align-self-center hover">
             <img src="../../../assets/reload.png" width="30">
         </span> -->
    </div>
</div>

<div class="row mt-3 justify-content-center scroll"  id="main-wrap" style="overflow-y: scroll;max-height: 75vh; ">
    <!-- <cdk-virtual-scroll-viewport itemSize="60" (scrolledIndexChange)='onScrollEnd()'  class="scroll">
       
    </cdk-virtual-scroll-viewport> -->
    <div class="col-md-4 mb-2" *ngFor="let customer of filterdCustomers;">
        <div class="card p-2">
            <ul class="list-unstyled mt-2">
                <li class="d-flex ml-1">
                    <span>
                        <img *ngIf="customer.profilePic != ''" src="{{baseUrl+customer.profilePic}}" loading="lazy" (click)="showUserDetails(customer)" width="55" height="55"  class="rounded-circle hover shadow">
                    </span>
                    <span class=" pl-2 align-self-center">
                        <b style="font-size: 14px;">{{customer.firstName}} {{customer.lastName}}</b><br>
                        <p class="f-14" *ngIf="customer && customer.address1 && customer.address1.region">{{customer.address1.region}}</p>
                        <span *ngIf="customer.accountVerificationStatus == 'Unverified'" (click)="showUserDetails(customer)" class="bg-success shadow f-14 hover text-white px-2 rounded-pill py-1"> View Profile</span>
                        <span *ngIf="customer.accountVerificationStatus == 'Rejected'" (click)="showUserDetails(customer)" class="bg-red shadow f-14 text-white hover px-2 rounded-pill py-1"> Regected</span>
                        <span *ngIf="customer.accountVerificationStatus == 'Verified'" (click)="showUserDetails(customer)" class=" f-14 bg-success rounded-pill shadow text-white  px-2  py-1">Verified</span>
                        <span *ngIf="customer.accountVerificationStatus == 'Pending'" (click)="showUserDetails(customer)" class=" f-14 btn-bg rounded-pill hover shadow text-white  px-2  py-1">Verify Account</span>
                    </span>

                </li></ul>
                <div class="ml-2">
                    <span class="text-muted f-14">Joined on {{customer.register_time | date}}</span>
                </div>
        </div>
    </div>
    <div class="col-md-4 align-self-center text-center p-2" *ngIf="!isTotalCountReached">
        <!-- <button mat-raised-button class="btn-bg rounded-pill"  *ngIf="!isFetchingUsers" (click)="loadMore()">
            Load More
        </button> -->
    </div>
</div>
<div class="d-flex justify-content-center h-75" *ngIf="filterdCustomers && !filterdCustomers.length">
<h3>{{message}}</h3>
</div>
</div>
<div *ngIf="isDetails">
    <app-customer-details [childID]="customerID" (closeEvent)="receiveMessage($event)"></app-customer-details>
</div>