<div class="text-center bg-light p-3">
    <h5 class="">
        {{headings}} <span class="float-right hover text-right" (click)="closeTab()">
            <img width="40" style="border-radius: 50%; padding: 10px;" src="../../../assets/cancel.png">
        </span></h5>
</div>
<div class="container-fluid " >
    <div class="row scroll" style="max-height: 60vh; overflow-y: auto; min-height: 55vh;">
       <div class="col-md-12" *ngIf="comments && comments.length">
        <div *ngFor="let offer of comments; let i = index">
            <div class="">
                <div class="d-flex">
                    <div class="p-2">
                        <img src="{{baseUrl+offer.author_url}}" (click)="showUserProfile(offer.author_email)" width="40" height="40" class="rounded-circle" *ngIf="offer.authorProfilePic != '' ">
                        <img src="https://liveapi.startasker.com/user.png" width="40" height="40" class="rounded-circle" *ngIf="offer.authorProfilePic == '' ">
                    </div>
                    <div class="align-self-center" >
                        <small>{{offer.author}}</small>
                    </div>
                    <span style="display: flex; flex: 1 1 auto;"></span>
                    <div class="align-self-center d-flex" style="font-weight: 700;">
                        <div class="m-2 d-flex justify-content-between" >
                            <span (click)="deleteComment(offer,i)" class="hover">
                            <img src="../../../assets/delete.png" width="14">
                            </span>
                            <span class="text-info ml-2 hover" (click)="editComment(i,offer)">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
               <div class="px-1">
                <div class="p-2  bg-light" style="font-weight: 500; border-radius: 15px; margin-left: 3vw;">
                   <small> {{offer.author_comment}}</small>
                </div>
                <div class="d-flex w-75" style="margin-left: 3vw;">
                    <span class="px-3"><small>{{offer.comment_date | date}}</small></span>
                </div>
               </div>
            </div>
        </div>
       </div>
       <div class="col-md-12 d-flex justify-content-center" style="min-height: 30vh;" *ngIf="comments && !comments.length">
           <h6 class="text-center align-self-center my-auto">No Comments  for this task..</h6>
       </div>
    </div>
    <div class="row mb-3" *ngIf="isEditing">
        <div class="col-md-12">
            <form>
                <div class="d-flex">
                    <textarea class="form-control" name="message" [(ngModel)]="comments[commentIndex].author_comment" rows="1"></textarea> <span (click)="sendEdited()" class="hover"><img src="../../../assets/send.png" width="40"></span>
                </div>
            </form>
        </div>
    </div>  
</div>