<div class="text-center bg-light p-2">
    <h5 class="">
        Notifications <span class="float-right hover text-right" (click)="closeTab()">
            <img width="40" style="border-radius: 50%; padding: 10px;" src="../../../assets/cancel.png">
        </span></h5>

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form  class="example-form mb-3 px-2" [formGroup]="notificationForm">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Select Type</mat-label>
                    <mat-select (selectionChange)="changeSelection($event)">
                      <mat-option *ngFor="let option of options" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="example-full-width" *ngIf="showAutoComplete" appearance="outline">
                    <mat-chip-list #chipList>
                      <mat-chip
                        *ngFor="let fruit of selectedIDArray"
                        [selectable]="selectable"
                        [removable]="removable"
                        (removed)="remove(fruit)">
                        {{fruit}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>
                      <input
                        placeholder="New ID..."
                        #fruitInput
                        [formControl]="userIdCtrl"
                        [matAutocomplete]="auto"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)"
                      />
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                      <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                        {{ fruit }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Title</mat-label>
                    <input matInput  formControlName="title">
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Offer Details</mat-label>
                    <textarea matInput formControlName="Content" placeholder="Ex. 5% discount on Cleaning..."></textarea>
                  </mat-form-field>
            </form>
            <div class="text-center my-3">
                <button mat-raised-button class="btn-bg" [disabled]="!notificationForm.valid || !isSelectedType" (click)="sendNotifications()">Send Notification</button>
            </div>
        </div>
    </div>
</div>